@font-face {
  font-family: Cinema;
  src: url(fonts/cinema_st.ttf);
}
@font-face {
  font-family: Lilita One;
  src: url(fonts/LilitaOne-Regular.ttf);
}

body {
    background: url("../images/background.png") no-repeat center fixed;
    background-size: cover;
    white-space: nowrap;
    margin: 0;
    text-align: center;
    user-select: none;
    font-family: Lilita One;
    grid-template-columns: 1fr 1fr 1fr;
}

#main{
    display: grid;
    place-items: center;
    margin: 0 auto;
    width: min-content;
}

h1{
    grid-column: 1;
    margin: 0.25em 0;
    line-height: 1;
    font-family: Cinema;
    font-size: clamp(2rem, 8vw, 3.5rem);
    padding-inline: 0.5em;
    background: -webkit-linear-gradient(red, goldenrod);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2{
    color: white;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1em;
}

.block{
    width: 90%;
    min-width: min-content;
    grid-column: 1;
    display: none;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.btn_radio{display: none;}
.button {
    display:inline-block;
    margin: auto;
    margin: 1em;
    border: 0;
    line-height: 2.5;
    padding: 0 1em;
    font-size: 1rem;
    text-align: center;
    font-family: Lilita One;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}
.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.btn_config1{background-color: rgb(125, 0, 0);}
.btn_radio:checked + .btn_config1 {background-color: rgb(255, 0, 0);}
.btn_config2{background-color: rgb(0, 125, 0);}
.btn_radio:checked + .btn_config2 {background-color: rgb(0, 255, 0);}
.btn_config3{background-color: rgb(0, 0, 125);}
.btn_radio:checked + .btn_config3 {background-color: rgb(0, 0, 255);}
.btn_valid{background-color: rgb(218, 165, 32);}
.btn_valid:active{background-color: rgb(255, 215, 0)}

#langconfig{margin: 1em;}
#flag {
    display:inline-block;
    margin: auto;
    vertical-align: middle;
}
#selectlang {
    display:inline-block;
    margin: auto;
    vertical-align: middle;
    font-size: 1rem;
    cursor: pointer;
}

#btn_play{
    display: none;
    margin: 1em;
}

#mcq{
    display: none;
    margin: 1em;
}
.btn_mcq{
    display: block;
    margin: 1em auto;
    background-color: rgb(128, 0, 128);
}

#entry_title{
    display: none;
}
#movie_title{
    display: block;
    margin: 2em auto;
    background-color: rgb(128, 0, 128);
    font-size: 1rem;
    font-family: Lilita One;
    color: white;
    border: 0.25rem ridge goldenrod;
}

#poster{
    display: none;
    width: 50%;
    margin: 0 auto;
}
#poster_img{width: 100%;}

.player {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

#timer{
    display: none;
    width: 100%;
    height: 2%;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 3em;
    background-color: rgb(0, 255, 0);
    text-align: center;
    overflow: hidden;
    color: white;
}

#progression{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em;
    font-size: 1em;
    color: white;
    background-color: rgb(0, 0, 125);
    border-radius: 10px;
}

#ytb_link{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}
#ytb_link img{width: 90%;}

#score_info{
    display: none;
    color: yellow;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1em;
}

#final_score_info{
    color: yellow;
    font-size: 1.5rem;
    font-weight: normal;
    margin: 1em;
}

#summary_gamemode{
    color: white;
    font-size: 1rem;
    font-weight: normal;
    margin: 1em;
}

#btn_home{
    display: block;
    position: absolute;
    top: 1%;
    left: 0.5%;
    width: 1.75em;
    cursor: pointer;
}

#link{display: block;margin-bottom: 2em;}


/* Mobile version */
@media (max-width: 768px) {
    body{
        background: url("../images/background mobile.png") no-repeat center fixed;
        background-size: cover;
    }
    /*h1{font-size: 2.5rem;}*/
    #main {
        width: 100%;
        max-width: 100%;
    }
    .block {
        width: 95%;
        min-width: 0;
        box-sizing: border-box;
    }
    .button{margin-inline: 2vw;}
    #btn_home{
        position: static;
        margin: 1em auto;
        margin-bottom: 0.5em;
    }
}