body {
    background: url("../images/font.jpg") no-repeat center fixed;
    background-size: cover;
    white-space: nowrap;
    margin: 0;
    text-align: center;
    user-select: none;
    width:100%;
}

.button {
    display:block;
    margin: auto;
    margin-block: 1em;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button:hover {
    background-color: rgba(255, 0, 0, 1);
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.button2 {
    display:block;
    margin: auto;
    margin-block: 2em;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(0, 150, 0, 1);
    background-image: linear-gradient(to top left,
                                    rgba(0, 0, 0, .2),
                                    rgba(0, 0, 0, .2) 30%,
                                    rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.button2:hover {
    background-color: rgba(0, 180, 0, 1);
}

.button2:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#infobulle {margin-top: 3%; margin-bottom: 1%; background: transparent; text-align: center; resize: none; border: 0 none; pointer-events: none; color: gold; font-size: 14pt; font-family: 'Calibri'; font-weight: bold;}

#topbar{margin-top: 2.5%;}
#home {display:inline-block; width: 1.75em; vertical-align: top; margin-right: 1%;}
#credits {display:inline-block; width: 1.5em; vertical-align: top;}
#titre_quiz{display: inline-block; margin-inline:2.5%;}
#langconfig {display:inline-block; vertical-align: top;}
#flag {display:inline-block; margin: auto;}
#selectlang {display:inline-block; margin: auto;}


.central{display: inline-block; margin-top: 2em;}
#central_left{vertical-align: top; margin: 4em; width: 10%}
#central_right{vertical-align: top; margin: 4em; width: 10%}

#progression {
    display: block;
    padding: 0.5em;
    font-size: 1.5em;
    width: fit-content;
    margin: auto;
    color: #ffff;
    border-radius: 10px;
    background-color: DarkBlue;
    margin-bottom: 1.5em;
}

.score {
    display: block;
    padding: 0.5em;
    font-size: 1.5em;
    width: fit-content;
    margin: auto;
    color: #ffff;
    border-radius: 10px;
    background-color: goldenrod;
    margin-bottom: 2em;
}

#timer {
    display: block;
    padding: 0.5em;
    font-size: 1.5em;
    width: fit-content;
    margin: auto;
    color: #ffff;
    border-radius: 10px;
    background-color: green;
    margin-bottom: 2em;
}

#poster{display: block; height: 22.5em; margin: auto;}
#link{display: block;margin-bottom: 2em;}
#next_button{display: block;  margin: auto; margin-bottom: 2em;}
#skip_button{display: block;  margin: auto; margin-bottom: 2em;}

#bloc_entry {margin-top: 2.5em;}
#bloc_result {margin-top: 2.5em; max-width: 90%;}
#bloc_end {margin-top: 5em;}
#solution{display:block; font-size: 20pt; font-family: 'Verdana'; font-weight: bold; margin-inline: auto;  word-break: break-all; width: 90%;}